html, body {
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    --ow_orange: 255, 124, 37;
    --ow_orange_hover: 252, 220, 192;
}

.hidden {
    display: none !important;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#dialog {
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    color: rgb(var(--ow_orange));
    border: solid 2px;
    border-radius: 10px;
    align-items: center;
}

#close {
    font-family: inherit;
    font-size: 2em;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: transparent;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}

.transition {
    opacity: 0;
    transition: opacity 3s ease;
}

.transition.visible {
    opacity: 1;
}

#logos {
    margin: 5vw;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 2em;
    margin-bottom: 1.5em;
}

#separator_top {
    color: rgb(var(--ow_orange));
    font-size: 1.5em;
    margin-left: 5vw;
    margin-bottom: 3vw;
}

#separator_bottom {
    color: rgb(var(--ow_orange));
    font-size: 1.5em;
    margin-left: 5vw;
    margin-top: 3vw;
}

#buttons {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5vw;
    margin-top: 2em;
    margin-bottom: 1.5em;
    text-align: center;
    width: 500px;
}

#buttons > button {
    font-family: inherit;
    background: transparent;
    color: rgb(var(--ow_orange));
    border: none;
    font-weight: bold;
    font-size: 2em;
}

#buttons > button:hover {
    color: rgb(var(--ow_orange_hover));
    cursor: pointer;
}

p {
    margin: 1.5em;
    color: rgb(var(--ow_orange));
    font-size: 1.5em;
}

@media screen and (display-mode: fullscreen) {
    #logos {
        margin: 10vw;
        display: flex;
        flex-direction: column;
        width: 500px;
        gap: 2em;
        margin-top: 7vw;
        margin-bottom: 1.5em;
    }

    #separator_top {
        color: rgb(var(--ow_orange));
        font-size: 1.5em;
        margin-left: 10vw;
        margin-bottom: 5vw;
    }

    #separator_bottom {
        color: rgb(var(--ow_orange));
        font-size: 1.5em;
        margin-left: 10vw;
        margin-top: 5vw;
    }

    #buttons {
        font-family: inherit;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 10vw;
        margin-top: 2em;
        margin-bottom: 1.5em;
        text-align: center;
        width: 500px;
    }

    p {
        margin-left: 6vw;
        color: rgb(var(--ow_orange));
    }
}