html, body {
    font-family: "Josefin Sans", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    --ow_orange: 255, 124, 37;
    --ow_orange_hover: 252, 220, 192;
    --ow_dialog_background: 13, 13, 13;
    --ow_white: 252, 220, 196;
    --ow_separator: 55, 55, 55;
    --ow_turquoise: 18, 200, 182;
}

.hidden {
    display: none !important;
}

.nocursor {
    cursor: none;
}

.hightlight {
    color: rgb(var(--ow_orange));
}

p {
    color: rgb(var(--ow_white));
}

a, a:visited {
    color: rgb(var(--ow_turquoise));
}

a:hover {
    background: rgb(var(--ow_white));
    color: rgb(var(--ow_dialog_background));
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.dialog {
    background: rgb(var(--ow_dialog_background));
    display: flex;
    flex-direction: column;
    color: rgb(var(--ow_orange));
    border: solid 4px rgb(var(--ow_white));
    align-items: center;
}

.close_dialog {
    font-family: inherit;
    font-size: 2em;
    background: rgb(var(--ow_dialog_background));
    color: rgb(var(--ow_orange));
    border: solid 4px rgb(var(--ow_orange));
    width: 300px;
    cursor: pointer;
    padding: 5px;
}

.close_dialog:hover {
    background: rgb(var(--ow_white));
    color: rgb(var(--ow_dialog_background));
    border: solid 4px rgb(var(--ow_white));
}

.close_dialog:focus {
    outline: none;
}

.transition {
    opacity: 0;
    transition: opacity 3s ease;
}

.transition.visible {
    opacity: 1;
}

#logos {
    margin: 5vw;
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 2em;
    margin-bottom: 1.5em;
}

.separator {
    color: rgb(var(--ow_separator));
    font-size: 1.5em;
    margin-left: 5vw;
}

#separator_top {
    margin-bottom: 3vw;
}

#separator_bottom {
    margin-top: 3vw;
}

#buttons {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 5vw;
    margin-top: 2em;
    margin-bottom: 1.5em;
    text-align: center;
    width: 500px;
}

#buttons > button {
    font-family: inherit;
    background: transparent;
    color: rgb(var(--ow_orange));
    border: none;
    font-weight: bold;
    font-size: 2em;
}

#buttons > button:hover {
    color: rgb(var(--ow_orange_hover));
    cursor: pointer;
}

#version {
    margin-left: 1vw;
    color: rgb(var(--ow_orange));
    font-size: 1.3em;
}

#credits {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

@media screen and (display-mode: fullscreen) {
    #logos {
        margin: 7vw;
        display: flex;
        flex-direction: column;
        width: 500px;
        gap: 2em;
        margin-top: 6vw;
        margin-bottom: 1.5em;
    }

    .separator {
        margin-left: 7vw;
    }

    #separator_top {
        margin-bottom: 4vw;
    }

    #separator_bottom {
        margin-top: 4vw;
    }

    #buttons {
        font-family: inherit;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 7vw;
        margin-top: 2em;
        margin-bottom: 1.5em;
        text-align: center;
        width: 500px;
    }

    #version {
        margin-left: 2vw;
        color: rgb(var(--ow_orange));
    }
}